@model AutoVente.Models.Couleur

@using (Html.BeginForm("Create", "Couleur"))
{
    @Html.AntiForgeryToken()

    <td class="textBoxPlace">
        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
    </td>

    <td>
        <input type="color" name="CodeCouleur" id="ColorPicker"/>
    </td>

    <td class="noPhone">
        <input type="text" id="CodeCouleurFix" value="#000000" disabled/>
    </td>

    <td>
        <button type="submit" class="btn btn-success btnPersoCouleur fontBlack"><i class="fas fa-check"></i><span class="noPhone"> Valider</span></button>
    </td>
}

<script>
    var colorPicker = document.getElementById('ColorPicker');

    colorPicker.addEventListener("input", function() {
        document.getElementById('CodeCouleurFix').value = colorPicker.value;
    })
</script>
