

.btn-circle > div > a {
    border-radius: 50% !important;
    padding: inherit;
    width: 120px;
    height: 120px;
    border: 5px solid #4a433b;
    background-color: rgba(225,225,225,0.8);
    /* background-image: url("../assets/img/Citadine.jpg");*/
}
.btn-circle > div > a > img {
    width: 100%;
}
.btn-circle > div > a  {
       padding:0;
}
    .btn-circle > div > a:hover, .card:hover, .thumb img:hover {
        box-shadow: #ffc800 -3px -3px 10px
    }
.btn-circle > div > a:hover {
        background-color: rgba(225,225,225)
    }
section {
    padding: 3rem 0 ;
}
.card-body {
    /*background-color: #222732;*/
    background: rgba(34,39,50,1);
    background: linear-gradient(to top, rgba(34,39,50,1) 60%,rgba(0,0,0,0.5) 100%);
    border-bottom-left-radius: calc(1rem - 1px);
    border-bottom-right-radius: calc(1rem - 1px);
    color:#ffffff;
}
.card {
    border: 5px solid rgba(255, 255, 255, .5);
   /* background: hsla(0, 100%, 100%, 0.6);*/
    border-radius: calc(1rem - 1px);
    position:relative;
}
.star{
 position:absolute;
 bottom: 140px;
 right:5%;
 z-index:10;
}
.star:hover{

}
.card-img, .card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
  
}
img {
    z-index: 0;
/*    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    mask-image: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(34,39,50,1) 100%);*/
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 75%,rgba(0,0,0,0.5) 100%);
}
.prix {
    font-size: 20px;
    font-weight: 800;
    padding-bottom:10px;
    border-bottom: 1px solid #99a1b2;
}
.info-card {
    font-size: 14px;
    font-weight: 600;
    color: #99a1b2;
}
.navbar-brand {

    background-image: url("~/Content/Layout/images/image.jpg");
    background-size: 120px;

}
header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 12rem;
}

